*,
html {
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
  background: #131313;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  max-width: 1030px;
  width: 100%;
  margin: auto;
}

.navbar {
  background: #131313;
  max-width: 1030px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  z-index: 999;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar__logo {
  background-image: linear-gradient(to top, #21d4fd 0%, #fff 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5rem;
}

.navbar__links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 100%;
  font-size: 1.3rem;
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 30px;
  }
  #navbar__logo {
    font-size: 1.4rem;
  }
  .navbar__links {
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .navbar {
    width: 100%;
    padding: 10px;
  }
  #navbar__logo {
    font-size: 1.2rem;
  }
  .navbar__links {
    font-size: 1rem;
  }
  .body {
    width: 100%;
  }
}

/* Hero Section CSS */

.main {
  background-color: #141414;
  height: 100%;
}

.main__content {
  text-align: center;
  margin: 5px;
  height: 100%;
}

.main__content h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 4rem;
  background: linear-gradient(to top, #21d4fd 0%, #fff 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main__content h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 2.2rem;
  background: linear-gradient(to top, #21d4fd 0%, #fff 100%);
  margin: 5rem auto;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main-paragraph {
  background: linear-gradient(to top, #21d4fd 0%, #fff 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 3rem;
}

.button-main {
  border: none;
  border-radius: 5px;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 2rem;
  padding: 1em 1.5em;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  background: linear-gradient(
    to right bottom,
    #fd4a21 0%,
    #ff7151 40%,
    #fff 100%
  );
}

.button-main:hover {
  box-shadow: -1px -1px 10px 10px #55413d;
  border: none;
}

.main__img {
  max-width: 800px;
  display: block;
  margin: 0 auto;
  margin: 3rem auto;
  border-radius: 25px;
  box-shadow: 1px 1px 2px #79e6ff;
}
.material-symbols-outlined {
  color: #fff;
  font-variation-settings: "FILL" 100, "wght" 400, "GRAD" 0, "opsz" 24;
  margin-left: -5px;
}

.review-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.review-content {
  color: white;
  font-size: 1.2rem;
  margin: 15px;
}

.review-box {
  width: 80%;
  margin: auto;
}

.divider {
  margin: 5rem auto 0;
  width: 80%;
  height: 1.6px;
  flex-shrink: 0;

  opacity: 0.28;
  background: radial-gradient(
    70.71% 70.71% at 50% 50%,
    #79e6ff 15%,
    #191b35 100%
  );
}

/* Mobile Responsive */
@media screen and (max-width: 768px) {
  .main__content h1 {
    font-size: 2.5rem;
  }

  .main__content h2 {
    font-size: 1.8rem;
  }

  .main__content p {
    font-size: 1rem;
  }

  .button-main {
    padding: 0.8rem;
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .main__content h1 {
    font-size: 2rem;
  }

  .main__content h2 {
    font-size: 1.4rem;
    margin: 3rem;
  }

  .main__content p {
    font-size: 1rem;
  }
  .button-main {
    padding: 0.6rem;
    font-size: 1rem;
  }

  .review-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .review-content {
    margin-top: 1rem;
  }
  .review-box {
    margin-top: 1.5rem;
  }
}

/* Services Session */
.service-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.service-card {
  background: #00738d;
  background: radial-gradient(
    circle farthest-corner at left center,
    #0c3139 0%,
    #131313 29%
  );
  color: white;
  max-width: 70rem;
  border: 0.01rem solid #0c3139;
  padding: clamp(2rem, 2vw, 3rem);
  border-radius: 0.5rem;
}

.service-card h2 {
  height: 8rem;
}

ol {
  padding: 0;
  margin: 0;
  max-width: 700px;
  position: relative;
  background: transparent;
}

ol::before {
  content: "";
  width: 0.5rem;
  height: 100%;
  position: absolute;
  top: 0;
  left: 8%;
  background: #00738d;
  z-index: -1;
}

li {
  padding: 0.5rem 1.5rem 1rem;
  border-radius: 1rem;
  background: #00738d;
}

li + li {
  margin-top: 1rem;
}

::marker {
  font-weight: 600;
  color: #ff7151;
  font-size: 1.8rem;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.service-card2 {
  background: #00738d;
  background: radial-gradient(
    circle farthest-corner at left center,
    #0c3139 0%,
    #131313 29%
  );
  color: white;
  max-width: 70rem;
  margin: auto;
  border: 0.01rem solid #0c3139;
  padding: clamp(1rem, 1vw, 2rem);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-image {
  width: 40%;
  height: auto;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 1rem;
}

.card-content {
  background: transparent;
  height: 100%;
  margin-left: 1rem;
}

.card-content button {
  padding: 10px;
}
.card-title {
  background: transparent;
  color: #ffffff;
  overflow: hidden;
  font-size: 1rem;
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  .service-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .card-title {
    font-size: 0.8rem;
  }
  .card-description {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 480px) {
  .service-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* footer CSS */
.footer__container {
  background-color: #141414;
  padding: 5rem 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer_links {
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer__link--wrapper {
  display: flex;
}

.footer__link--items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px;
  text-align: left;
  width: 160px;
  box-sizing: border-box;
}

.footer__link--items > h2 {
  color: #fff;
}

.footer__link--items a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.footer__link--items a:hover {
  color: #e9e9e9;
  transition: 0.3s ease-out;
}

#footer__logo {
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}
.social__icon--link {
  color: #fff;
  font-size: 24px;
}

.social__media {
  width: 100%;
  margin-top: 5rem;
}

.social__media--wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.website__right {
  color: #fff;
  font-size: 0.8rem;
}

@media screen and (max-width: 768px) {
  /* .footer_links {
    padding-top: 2rem;
  } */

  #footer__logo {
    font-size: 2rem;
  }
  .website__right {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 480px) {
  #footer__logo {
    font-size: 1.5rem;
  }
  .website__right {
    font-size: 0.6rem;
  }
}

/* Contact Us */
.contact-form {
  width: 100%;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.contact-form label {
  color: #fff;
  text-align: left;
}

.contact_input,
.contact-form textarea {
  width: 50%;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  background-color: #f5f5f5;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #999;
}

.contact_btn[type="submit"] {
  width: 40%;
  margin: 2rem auto;
  color: #fff;
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: #4837ff;
  font-size: 1rem;
  cursor: pointer;
}

.contact_btn[type="submit"]:hover {
  background-color: #ff8177;
}

@media screen and (max-width: 768px) {
  .contact-form h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .contact-form h1 {
    font-size: 1.4rem;
  }
}

/* Modal styles */
.modal {
  display: none; /* Hide the modal by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 80px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: auto;
  height: 100%;
}

.modal-content img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: auto;
}

.modal-content h3 {
  display: flex;
  color: white;
  justify-content: center;
  margin: 1rem;
}

.modal-content p,
ul,
li {
  color: white;
  margin: 1rem;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 3rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  /* .modal-content img {
    max-width: 80%;
    height: auto;
  } */
  .close {
    font-size: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .modal-content img {
    max-width: 80%;
    height: auto;
  }
  .close {
    margin: none;
    font-size: 1.8rem;
  }
}
